<ion-header [translucent]="true">
  <ion-toolbar style="--background: rgb(13, 13, 92);">
    <ion-title style="color: white; font-family: 'Calibri'"><b>Estudiante</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="logo-container">
    <img class="logo" src="/assets/icon/logoduocuc2.png" alt="">
  </div>
  <br>
  <div>
    <h1 class="tittle-login"><b> {{ name }} {{ lastname }}</b></h1>
    <h1 class="tittle-login"><b>Bienvenido al Portal</b></h1>
    <h1 class="tittle-login"><b>Carrera: {{ carrer }}</b></h1>
  </div>

  <div class="logo-container">
    <img #perfil src="/assets/icon/icon-perfil.png" alt="" width="200px">
  </div>
  <br>

  <div class="logo-container">
    <ion-button #button expand="block" style="--background: rgb(255, 196, 0); width: 300px;" (click)="RegistrarAsistencia()">REGISTRAR ASISTENCIA</ion-button>
</div>

  <div class="logo-container">
    <ion-button #button2 expand="block" style="--background: rgb(13, 13, 92); width: 300px;" (click)="SalirAlLogin()">SALIR</ion-button>
  </div>
  
</ion-content>
